body{
    background-color: #ffffff;
}
.bg-con{
    width: 100%;
    height: auto;
    margin-top: .88rem;
    text-align: center;
}
.isbinding{
    width:3.02rem;
    height: 1.92rem;
    margin: .98rem auto .44rem; 
}
.binding-status{
    font-size: .24rem;
    color: #333333;
}
.binding-number-btn:active{
    opacity: 0.6;
}
.binding-number-btn{
    display: block;
    width: 5.23rem;
    height: .65rem;
    margin: 1.06rem auto;
    background-color: #ff4a0c;
    color: #ffffff;
    font-size: .26rem;
    border-radius: .08rem;
    text-align: center;
    line-height: .65rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
