body{
    background-color: #ffffff;
}
.text-con{
    width: 100%;
    height: auto;
    margin-top: .88rem;
    text-align: center;
    border-top:1px solid #ffffff;
}
.text-con>p:nth-of-type(1){
    font-size: .24rem;
    color: #333333;
    margin-top: 1.17rem;
}
.text-con>p:nth-of-type(2){
    font-size: .24rem;
    color: #333333;
    margin-top: .36rem;
}
.text-con>p:nth-of-type(2)>span{
    color: #ffbc0c;
}
.input-con{
    margin-top: .8rem;
}
.tel-div{
    height: .36rem;
    width: 3.45rem;
    position: relative;
    margin: auto;
}
.tel-div>img{
    width: .2rem;
    height: .25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tel-div>input:nth-of-type(1),.code-div>input{
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 2.42rem;
    height: .24rem;
    border: 0;
    background-color: #fff;
    font-size: 0.2rem;
    color: #333;    
    position: absolute;
    line-height: .24rem;
    bottom: 0;
    left: .3rem;
    text-indent: .1rem;
    border-bottom: 1px solid #ffc8ba;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn-security-code{
    -webkit-appearance: none;
    display: inline-block;
    position: absolute;
    left: 2.4rem;
    right: 0;
    bottom: 0;
    background: #ffc8b6;
    width: auto;
    padding: .15rem;
    border: 0;
    outline: 0;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    border-radius: .08rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.code-div{
    height: .6rem;
    width: 3.45rem;
    position: relative;
    margin: auto;
    margin-top: .6rem;
}
.code-div>img{
    width: .3rem;
    height: .2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.code-div>input{
    width: 3.15rem;
}
.btn-proof:active{
    opacity: 0.6;
}
.btn-proof{
    display: block;
    width: 3.44rem;
    height: .65rem;
    margin: 1.06rem auto;
    background-color: #ffc8b6;
    color: #ffffff;
    font-size: .26rem;
    border-radius: .08rem;
    text-align: center;
    line-height: .65rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.tel-model{
    width: 6.4rem;
    height: 11.36rem;
    background: rgba(0,0,0,0.45);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 90909;
}
.tel-model>div{
    width: 4.12rem;
    height: 1.93rem;
    background: white;
    z-index: 9999999999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    margin: auto;
    border-radius: 0.08rem;
}
.is-tel{
    width: 100%;
    margin-top: .37rem;
    font-size: 0.24rem;
    height: .26rem;
    color: #333;
    text-align: center;
}
.tel-bea{
    width: 100%;
    height: 0.63rem;
    font-size: .24rem;
    color: #333;
    line-height: .63rem;
    text-align: center;
}
.sure:active{
    opacity: 0.6;
}
.sure{
    width: 100%;
    height: .66rem;
    line-height: .66rem;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    font-size: .24rem;
    color: #ec6037;
    position: absolute;
    bottom: 0;
}