html,
body,
ul, li,
div, img,
table, tbody,
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
body {
    font-family: "PingFang SC";

}

li {
    list-style: none;
}

img {
    border: none;
    display: block;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}
html,body {
    -webkit-user-select:none; 
    user-select: none;
    -webkit-text-size-adjust: none; /*部分IOS手机safari浏览器点击后退字体变大*/
}
.clearfix:after{
    content: '';
    clear: both;
    display: block;
}
.home-info-top{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: #ff4a0c;
    z-index: 667;
}
.home-info-nav{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #ffffff;
    font-size: .28rem;

}
.home-info-nav .home-info-nav-a{
    width: .15rem;
    height: .27rem;
    position: absolute;
    margin-top: -.135rem;
    left: .21rem;
    top: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.home-info-nav>p{
    display: inline-block;
    margin: 0;
    padding: 0;

}
.home-info-nav .home-info-nav-b{
    width: .34rem;
    height: .34rem;
    display: inline-block;
    position: absolute;
    right: 1.6rem;
    margin-top: -.17rem;
    top: 50%;
}
#dealer_name{
    font-size: .26rem;
    position: absolute;
    left: .6rem;
}

/*搜索栏*/

nav {
    width: 100%;

    height: 0.68rem;
    background-color: #fff;
    position: fixed;
    top: 0.88rem;
    z-index: 90909;
    border-bottom: 1px solid #f2f2f2;
}
nav .search-box {
    position: relative;
    display: block;
    border: none;
    outline: none;
    display: flex;
    border-radius: 0.08rem;
    width: 6.01rem;/*与原图的尺寸不一样原图应该是30.05rem但是效果不好  有待更改问设计师商量*/
    height: 0.42rem;
    margin-top: 0.13rem;
    background-color: #f2f2f2;
    margin-left: 0.21rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
nav .search-box label.Search{
    display: flex;
    position: absolute;
    border: none;
    width: 0.64rem;
    height: 100%;
    background: url('/static/images/recommendorder/ic_search.png') no-repeat center;
    background-size: 38%;
}
nav .search-box label.no{
    display: none;
    right: 0;
    border: none;
    width: 0.64rem;
    height: 100%;
    text-align: center;
    float: left;
    line-height: .41rem;
    background:url('/static/images/recommendorder/close.png') no-repeat center;
    background-size: 35%;

}
nav .search-box .search{
    width: 4.82rem;
    float: left;
    border: 0px;
    background-color: #f2f2f2;
    font-size: 0.18rem;
    color: #333;
    padding-left:0.64rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance:none;
}

main {
    position: absolute;
    top: 1.56rem;
    width: 100%;
    height: 78.03%;
    border-top:  1px solid #f2f2f2;
    background: #fff;
}
main .swiper-container {
    width: 100%;
    height: 2.58rem;
    background-color: #fff;
}
main .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
}
main .swiper-container .swiper-wrapper .swiper-slide {
    height: 100%;
    width: 100%;
    background-size: 100% 100% !important;
}
main .swiper-container .swiper-pagination span {
    background-color: #f00;
}
main article{
    white-space: nowrap;
    overflow: scroll;
    height: 0.62rem;
}
main article .list{
    position: fixed;
    top: 1.56rem;
    overflow: auto;
    float: left;
    /*width: 1.55rem;*/
    width: 23%;
    height:78%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
::-webkit-scrollbar{width: 0;}
main article .list .nav-item{
    display: block;
    width: 100%;
    border-right: 1px solid #dbdbdb;
    border-bottom:  1px solid #dbdbdb;
    border-top: 0;
    box-sizing: border-box;
    height: 0.8rem;
    background: #fff;
    font-size: 0.24rem;
    line-height: 0.8rem;
    text-align: center;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f2f2f2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main article .list .nav-item:first-of-type{
    height: 0.64rem;
    line-height: 0.64rem;
}
main article .list .nav-item:first-child{
    border-top: 0px;
}
main article .list .nav-item:last-child{
    margin-bottom:.92rem;
}
main article .list .nav-item.active{
    border-left: 0.08rem solid red;
    color:#ff4a0c;
    background:#fff;
}

main article .list .nav-item:last-child{
    padding-bottom:0rem;
}

main aside{
    position: relative;
    float: right;
    /*width: 4.85rem;*/
    width: 76%;
    height: 100%;


}
main aside .ul-box{
    height: 0.64rem;
    width: 100%;
    position: fixed;
    top: 1.57rem;
    z-index: 51;
    border-bottom: 1px solid #f2f2f2;
}
main aside .ul-box ul{
    padding:0 0.42rem 0 0.46rem;
    height: 0.62rem;
    text-align: center;
    line-height: 0.62rem;
    justify-content: space-between;


}
main aside .ul-box ul li{
    float:left;
    position: relative;
}
main aside .ul-box ul li{
    color: #333;
    font-size: 0.24rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main aside .ul-box ul li .list.active{
    color: #ff4a0c;
}
main aside .ul-box ul li:nth-of-type(2){
    margin:0 0.6rem;
    color: #333;
    font-size: 0.24rem;
}

main aside .ul-box ul li:nth-of-type(2) span.ic-arrow,li:nth-of-type(3) span.ic-arrow{
    float: right;
    width: 0.21rem;
    height: 0.26rem;
    margin-left: 0.03rem;
    margin-top:0.17rem;
    background:url('/static/images/recommendorder/ic_arrow.png') no-repeat center;
    background-size: 65%;
}
main aside section{
    width:100%;
    position:absolute;
    /*top:.5rem;*/
    /*height: 8.1rem;*/
    height: auto;
    overflow: auto;
    margin-bottom:0;
    -webkit-overflow-scrolling: touch;
   
}

main .swiper-container {
    width: 100%;
    height: 2.58rem;
    background-color: #fff;
}
main .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
}
main .swiper-container .swiper-wrapper .swiper-slide {
    height: 100%;
    width: 100%;
    background-size: 100% 100% !important;
}
main .swiper-container .swiper-wrapper .swiper-slide img{
    width:100%;
    height:2.58rem;
    background: deeppink;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main .swiper-container .swiper-pagination span {
    background-color: #ff4a0c;
}

main aside section .box{
    width: 1.55rem;
    display: block;
    float: left;
    font-family: "PingFang SC";
}
main aside section .list{
    padding-left:0.13rem;
    font-family: "PingFang SC";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
main aside section .list:last-child{
    padding-bottom:1.58rem;

}
main aside section .list>li{
    /*height:1.05rem;*/
    width:100%;
    padding-top:0.09rem;
    /*border-bottom: 0.5px solid #f2f2f2;*/
    /*position: relative;*/
    overflow: hidden;
}
main aside section .list>li:first-of-type{
    border-top: 1px solid #f2f2f2;
    /*margin-top: .32rem;*/
}
main aside section .list li img{
    position: absolute;
   
    margin-right: 0.24rem;
    width: 1.10rem;
    height: 1.03rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main aside section .list li .list-con{
    position: relative;
    font-size:0.24rem;
    margin-right: 0;
    min-height: 1.3rem;
    overflow: hidden;
    margin-top: .15rem;
}
main aside section .list li .list-con h3{
    color:#333;
    font-size: 0.24rem;
    font-family: "PingFang SC";
    font-weight: 400;
    width: 2.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
main aside section .list li .list-con .box-num {
    margin:  0;
    margin-top: 0rem;
    min-height: .35rem;
}
main aside section .list li .list-con .box-num i{
    display: inline-block;
    margin-top: 0;
}
main aside section .list li .list-con p span:nth-child(1){
    color:#999;  /* 自定义字体颜色 */

    font-size: .2rem;
    font-family: "PingFang SC";
}
main aside section .list li .list-con p span:nth-child(2){
    display: inline-block;
    width: .22rem;
    height: .22rem;
    background: url('/static/images/recommendorder/promotion.png') no-repeat;
    background-position: center;
    margin-left: .17rem;
    vertical-align: middle;
    background-size: 100%;
}
main aside section .list li .list-con span{
    color:#ff4a0c;
    font-size: 0.24rem;
    margin-bottom: -0.1rem;

}
main aside section .box{
    width: 3.3rem;
    /*position: relative;*/
    margin-bottom: 0.05rem;
    margin-left: 1.34rem;
}
main aside section .box .box-bottom{
    height: .5rem;
    width: 3.3rem;
    line-height: .5rem;
    position: relative;
    margin-top: -0.06rem;
}
main aside section .box .box-bottom span input{
    border-radius: .08rem;
}
main .box-bottom span:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    height: .5rem;
   
}

main aside section .list li .list-con .button{
    float:left;
    width:0.36rem;
    height:0.36rem;
    border-radius: 0.08rem;

}

main aside section .list li .list-con .button.reduce{
    width:.7rem;
    height: .7rem;
    border:0;
    outline:0;
    position: relative;
    bottom: .3rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button.reduce:active{
    opacity: 0.6;
}
.button.plus:active{
    opacity: 0.6;
}
main aside section .list li .list-con .button.plus{
    width: .7rem;
    height: .7rem;
    border:0;
    outline:0;
    position: relative;
    bottom:.3rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
main aside section .list li .list-con .button.plus .area{
    border-radius: .08rem;
    width: .5rem;
    height: .5rem;
    border:0;
    outline:0;
    background:#f2f2f2 url('/static/images/recommendorder/ic_-plus.png') no-repeat center;
    position: absolute;
    margin-left: .05rem;
    margin-top: .3rem;
    background-size: 60%;
}
main aside section .list li .list-con .button.reduce .area{
    border-radius: .08rem;
    width: .5rem;
    height: .5rem;
    border:0;
    outline:0;
    background:#f2f2f2 url('/static/images/recommendorder/ic_-minus.png') no-repeat center;
    position: absolute;
    margin-left: .15rem;
    margin-top: .3rem;
    background-size: 60%;
}
main aside section .list li .list-con input{
    padding: 0;
    float:left;
    width:.7rem;
    height:.5rem;
    outline:0;
    border:0;
    margin:0 0.05rem;
    text-align: center;
    font-size:0.24rem;
    background: #f2f2f2;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer{
    position: fixed;
    bottom: 0;
    height: 1.58rem;
    background: #fff;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    z-index: 99999;
}
footer .bottom{
    display: block;
    height: .6rem;
    line-height: .6rem;
    position: absolute;
    right: 0.4rem;
}

footer .bottom span {
    font-size:.26rem;
    color:#ff4a0c;
    font-weight:800;
}
footer .bottom span i {
    font-size: .24rem;
    font-weight: 600;
    font-family: "PingFang SC";
}
.bottom span i{
    font-style: normal;
    font-size:.26rem;
    color:#ff4a0c
    font-weight:800;
    font-family: "PingFang SC";
}
 span.money {
    position:absolute;
    width:1.6rem;
    height:.88rem;
    right:0;
    font-size:.25rem;
    color:#fff;
    text-align:center;
    line-height:0.92rem;
    display:block;
    background: url('/static/images/recommendorder/ic_cart.png') no-repeat center ;
    background-size: 20%;
    background-color: #ff4a03;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
span.money i{
    font-style: normal;
    position: absolute;
    left:1.1rem;
}
.model,.add{
    width: 6.4rem;
    height: 11.36rem;
    background:rgba(0,0,0,0.45);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 90909;

}
.model .call,.add .call{
    width: 4.12rem;
    height: 2.38rem;
    background: white;
    display: none;
    z-index: 9999999999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    margin: auto;
    border-radius: 0.08rem;
}
.model .call p,.add .call p{
    display: inline-block;
}
.model .call p:nth-child(1),.add .call p:nth-child(1){
    padding: 0;
    margin:0;
    width: 100%;

    margin-top: .37rem;
    font-size: 0.26rem;
    height: .26rem;
    color: #333;
    text-align: center;
}

.model .call p:nth-child(2),.add .call p:nth-child(2){
    padding: 0;
    margin:0;
    width: 100%;
    height: 0.63rem;
    font-size: .26rem;
    color: #1578f0;
    line-height: .63rem;
    text-align: center;
}
.model .call p:nth-child(2) span,.add .call p:nth-child(2) span{
    color: #333;
    margin-left: .05rem;

}
.model .call p:nth-child(3),.add .call p:nth-child(3){
    padding: 0;
    margin:0;
    width: 100%;
    height: .82rem;
    border-top: 1px solid #dbdbdb;
    position: relative;
    top:0.2rem;

}
.model .call p:nth-child(3) .cancel,.add .call p:nth-child(3) .cancel{
    float: left;
    width: 50%;
    height: .81rem;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    line-height: .81rem;
    font-size: .26rem;
    color: #666;
}
.model .call p:nth-child(3) .sure,.add .call p:nth-child(3) .sure{
    width: 49.5%;
    height: .81rem;
    text-align: center;
    line-height: .81rem;
    float: left;
    font-size: .26rem;
    color: #ff4a0c;
}

/*活动页*/
.activity{
    display: none;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.45);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 990909;
}
.activity img{
    width: 5.2rem;
    height: 6.4rem;
    z-index: 990909;
    position: fixed;
    left: 0;
    right: 0;
    top: 1.2rem;
    margin: auto;
    border-radius: 0.08rem;
}
.activitybutton{
    color: white;
    font-size: 0.4rem;
    width: 0.6rem;
    height: 0.6rem;
 /*   border: 2px white solid;
    border-radius: 50%;*/
    background: url(/static/images/recommendorder/activitybut.png) no-repeat center;
    background-size: 100%; 
    margin: 0 auto;
    margin-top: 8rem;
}
/*活动二级页面*/
.activitysec{
    display: none;
    width: 100%;
    min-height: 9.2rem;
    background:#ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 990909;
    overflow: scroll;
}
.activityhead{
    position: fixed;
    width: 100%;
    height: 0.88rem;
    background: #ff4a0c;
    line-height: 0.88rem;
    text-align: center;
}
.activitycontent{
    margin-top: 0.88rem;    
    width: 100%;
    min-height: 9.2rem;
}
.activityhead-img{
    width: .15rem;
    height: .27rem;
    margin-left: 0.2rem;
    margin-top: 0.28rem;
    float: left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.activityhead span{
    font-size: .26rem;
    color: #ffffff;
    margin-left: -0.3rem;
}
.activitysec-img{
    width: 6.4rem;
}
.activitysec-button{
    font-family: "PingFangSC Regular";
    font-size: 0.32rem;
    color: #FFFFFF;
    width: 2.6rem;
    height: 0.68rem;
    background: #ff4a0c;
    text-align: center;
    line-height: 0.68rem;
    border-radius: 0.08rem;
    margin: 0 auto;
    margin-top: 0.48rem;
    margin-bottom: 0.48rem;
}
.modelImg{
    width: 6.4rem;
    height: 11.36rem;
    background:rgba(0,0,0,0.45);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 90909;

}
.modelImg img{
    width: 4rem;
    height: 4rem;
    display: none;
    z-index: 9999999999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    margin: auto;
}
.hide {
    position: absolute;
    top: 1.56rem;
    width: 100%;
    height: 78.03%;
    /* border-top:  1px solid #dbdbdb;*/
    background: #fff;
    display: none;
}

.hide aside{
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
}

.hide aside section{
    width:100%;
    position:absolute;
    top:0rem;
    min-height: 8.74rem;

    overflow: auto;
}

.hide aside section .box{
    width: 1.55rem;
    display: block;
    float: left;
}
.hide aside section .list{
    padding-left:0.13rem;
    padding-right:0.21rem;

}
.hide aside section .list li{
    /*height:1.05rem;*/
    width:100%;
    padding-top:0.09rem;
    border-bottom: 1px solid #dbdbdb;
    /*position: relative;*/
    overflow: hidden;
}
.hide aside section .list li img{
    float:left;
    margin-right:0.24rem; /* 自定义 */
    width: 1.10rem;
    height: 1.03rem;
}
.hide aside section .list li .list-con{
    position: relative;
    font-size:0.24rem;
    margin-right: 0;
    overflow: hidden;
}
.hide aside section .list li .list-con h3{

    color:#333;
    font-size: 0.24rem;
    font-family: "PingFang SC";
    font-weight: 400;
}
.hide aside section .list li .list-con p{
    color:#ccc;  /* 自定义字体颜色 */
    margin: 0.1rem 0;
    font-size: .2rem;
}
.hide aside section .list li .list-con span{
    color:#ff4a0c;
    font-weight: 600;
    font-size: 0.24rem;
    margin-bottom: 0.05rem;

}
.hide aside section .box{
    width: 4.6rem;
    float: left;
    position: relative;
    margin-bottom: 0.05rem;
}
.hide aside section .box .box-bottom{
    height: .36rem;
    width: 4.6rem;
    line-height: .36rem
    margin-top:.06rem;
}
.hide aside section .box .box-bottom span input{
    border-radius: .08rem;
}

.hide .box-bottom span:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    height: .5rem;
}
.hide aside section .list li .list-con .button{
    float:left;
    width:0.36rem;
    height:0.36rem;
    border-radius: 0.08rem;

}

.hide aside section .list li .list-con .button.reduce{
    width:.7rem;
    height: .7rem;
    border:0;
    outline:0;
    position: relative;
    bottom: .3rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.hide aside section .list li .list-con .button.plus{
    width: .7rem;
    height: .7rem;
    border:0;
    outline:0;
    position: relative;
    bottom:.3rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
.hide aside section .list li .list-con .button.plus .area{
    width: .5rem;
    height: .5rem;
    border:0;
    outline:0;
    background:#f2f2f2 url('/static/images/recommendorder/ic_-plus.png') no-repeat center;
    position: absolute;
    margin-left: .05rem;
    margin-top: .3rem;
    background-size: 60%;
}
.hide aside section .list li .list-con .button.reduce .area{
    width: .5rem;
    height: .5rem;
    border:0;
    outline:0;
    background:#f2f2f2 url('/static/images/recommendorder/ic_-minus.png') no-repeat center;
    position: absolute;
    margin-left: .15rem;
    margin-top: .3rem;
    background-size: 60%;
}

.hide aside section .list li .list-con input{
    -webkit-appearance:none;
    float:left;
    width:.7rem;
    height:.5rem;
    padding: 0;
    outline:0;
    border:0;
    margin:0 0.05rem;
    text-align: center;
    font-size:0.24rem;
    background: #f2f2f2;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main i{
    width: auto;
    display: block;
    color: #333333;
    font-size: .18rem;
    margin-top: .11rem;

}
.hide i{
    left: 3rem;
    top: .38rem;
}
.prompt{
  width: 100%;
  height: .88rem;
  background-color: #fcfdee;
  position: fixed;
  z-index: 666;
  top:.68rem;
  /*display: none;*/
}
.prompt1{
    position: absolute;
}
.prompt1>img{
  display: inline-block;
  width: .1rem;
  height: .1rem;
  margin-left: .21rem;
  vertical-align: middle;
}
.prompt1>p{
  display: inline-block;
  width: auto;
  height: .78rem;
  font-size: .22rem;
  color: #b87d28;
/*  margin-left: .2rem;*/
  letter-spacing: .01rem;
}
/*系列*/

.product-series{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: .32rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.product-series>li{

    display: inline-block;
    min-width: 1.22rem;
    width: 1rem;
    /*overflow:hidden; */
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height: .42rem;
    border: 1px solid #dbdbdb;
    background-color: #f2f2f2;
    border-radius: .08rem;
    text-align: center;
    line-height: .42rem;
    margin-left: .15rem;
    margin-right: .15rem;
    margin-top: .32rem;
    color: #999999;
    font-size: .2rem; 
}
.product-series .series-active{
    color: #ffbc0c;
    border: 1px solid #ffbc0c;
    background-color: #ffffff;
}
.product-norms-items .series-active{
    color: #ffbc0c;
    border: 1px solid #ffbc0c;
    background-color: #ffffff;
}
.product-norms{
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f2f2f2;
}
.product-norms>p{
      margin: 0;
      margin-top: .08rem;
    position: absolute;
    display: inline-block;
    width: .5rem;
    height: .42rem;
 /*   text-align: center;*/
    line-height: .42rem;
    color: #999999;
    font-size: .18rem;
}
.product-norms-items{
    display: inline-block;
    margin-left: .65rem;
    width: 85%;
    height: auto;
/*    padding-bottom: .1rem;*/
}
.product-norms-items>li{
    display: inline-block;
    float: left;
    min-width: 1rem;
    width: auto;
    height: .43rem;
    border: 1px solid #dbdbdb;
    background-color: #f2f2f2;
    border-radius: .08rem;
    text-align: center;
    line-height: .43rem;
    margin-top: .08rem;
    margin-bottom: .1rem;
    margin-right: .2rem;
    padding: 0 0.05rem; 
    color: #999999;
    font-size: .18rem;
}
.product-norms-items .norms-active{
    color: #ffbc0c;
    border: 1px solid #ffbc0c;
    background-color: #ffffff;
}
/*dealer——id 5，9*/
.navactive{
    top: 1.56rem;
    z-index: 667;
    background-color: #fcfdee;
}
/*修改密码*/
.passinfo{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.45);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 990909;
}
.passinfo-body{
    width: 5.2rem;
    min-height: 4.5rem;
    background:#fff;
    margin: 0 auto;
    margin-top: 3.32rem;
    border-radius: 0.08rem;
}
.passinfo-button{
    width: 4.4rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.passinfo-button-cancel{
    width: 1.55rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 0.08rem; 
    color: white;
    font-size: 0.28rem;
    background: #bfbfbf; 
    line-height: 0.7rem;
    text-align: center;
    float: left;  
}
.passinfo-button-active{
    width: 1.55rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 0.08rem; 
    color: white;
    font-size: 0.28rem;
    line-height: 0.7rem;
    text-align: center; 
    background: #ffbc0c; 
    float: right;   
}
.passinfo-button-active:active{
    opacity: 0.7;
}
.passinfo-text{
    width: 4.4rem;
    height: 3rem;
    margin: 0 auto; 
    padding-top: 0.2rem; 
    font-size: 0.26rem;
    font-family: PingFangSC-Light, sans-serif; 
}
.passinfo-text p{
    display: inline-block;
    height: 0.3rem;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Light, sans-serif;
}
.passinfo-text span{
    display: inline-block;
    height: 0.3rem;
    margin: 0;
    margin-top: 0.2rem;
}
.passinfo-text i{
  display: inline-block;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
  background: #ffbc0c;
  margin-bottom: .04rem;
  margin-right: .16rem;
}
/*底部*/
.home-bottom{
  width: 100%;
  height: .98rem;
  background-color: #fff;
  /*border-top: 1px solid #dbdbdb;*/
  position: fixed;
  bottom: 0;
}
.home-bottom>li{
  display: inline-block;
  float: left;
  width: 33%;
  height: .75rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.home-bottom>li a{
  display: block;
  width: 1rem;
  height: .75rem;
  margin: 0 auto;
  text-align: center;
  font-size: .18rem;
  color: #999999;
  padding-top: .6rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.home-bottom>li:nth-of-type(1) a{
  background: url(/static/images/recommendorder/ic_recommend_nor.png) no-repeat center .2rem;
  background-size: 28%;
}
.home-bottom>li:nth-of-type(2) a{
  background: url(/static/images/recommendorder/ic_shpo_pre.png) no-repeat center .18rem;
  background-size: 38%;
  color: #ff4a0c;
}
.home-bottom>li:nth-of-type(3) a{
  background: url(/static/images/recommendorder/ic_homepage_nor.png) no-repeat center .2rem;
  background-size: 30%;
  
}