

{% verbatim %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="format-detection" content="telephone=no, email=no"/>
        <title>超便利-新品概览</title>
        <link rel="stylesheet" type="text/css" href="/static/css/pay/edit_item_freezer_map.css">

        <link href="//cdn.bootcss.com/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
        <script src="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdn.bootcss.com/vue/2.2.1/vue.js"></script>
        <script src="/static/js/common/utils.js"></script>
        <script src="/static/js/pay/edit_item_freezer_map.js"></script>
    </head>

    <body>
        <div id="app">
            <div style="display: inline-block;">
                <select class="select"  @change="changeRow">
                  <option value ="item">请选择冰箱行数</option>
                  <option v-for="data in rows" :value="data">{{data}}</option>
                </select>
            </div>

            <div style="display: inline-block;">
                <select class="select"  @change="changeClumn">
                  <option value="item">请选择冰箱列数</option>
                  <option v-for="data in columns" :value="data" >{{data}}</option>
                </select>
            </div>
            <ul>
               <li v-for="(item, index) in datas">
                    <div style="display:flex;flex-direction:row;">
                        <input>
                    </div>

               </li>
            </ul>



        </div>

    </body>

</html>
{% endverbatim %}