/* 选择日期，被选中状态 */
.date-choiced{
    background: #d0d5de;
    color: #576071;
}
/* 门店类型被选择 */
.store-color{
    background: #ff5422;
    color: white;
}
/* 排序 */
.ascending {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid gray;
    margin-left: 2px;
}
.descending{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid gray;
    margin-left: 2px;
}

/* 内容 */
.wrap .content,
.choice-button {
    overflow: hidden;
}
.wrap .content img{
    width: 20px;
}
.wrap .content .menu-wrap {
    width: 1064px;
}
.wrap .content .menu {
    position: relative;
    overflow: hidden;
    height: 78px;
    border-bottom: 1px solid #C9CED9;
    background: white;
}
.wrap .content .menu>span{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translate(0,-50%);
    font-size: 24px;
    color: #2a2a2a;
}
.wrap .content .menu .menu-options {
    position: absolute;
    top: 50%;
    right: 54px;
    transform: translate(0,-50%);
    font-size: 12px;
    color: #9ba3b1;
}
.wrap .content .menu .menu-options .store-type {
    vertical-align: middle;
    display: inline-block;
    margin-left: 32px;
}
.wrap .content .menu .menu-options .store-type>span {
    margin-right: 8px;
    padding: 4px 14px;
    border-radius: 9px;
    cursor: pointer;
}
.wrap .content .all-stores {
    overflow: hidden;
    background: #E3E8EF;
}
.wrap .content .all-stores .store-options-module {
    position: relative;
    padding: 0 22px;
    margin: 20px auto 80px;
    width: 94.3%;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #C9CED9;
}
.wrap .content .all-stores .store-options-module .total {
    position: relative;
    height: 55px;
    border-bottom: 1px solid #C9CED9;
}
.wrap .content .all-stores .store-options-module .total>p {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    font-size: 18px;
    color: #2a2a2a;
}
.wrap .content .all-stores .store-options-module .total .store-options {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.wrap .content .all-stores .store-options-module .total>p,
.total>div,
.store-options>ul,
.store-options>div,
.store-options>ul>li {
    display: inline-block;
    vertical-align: middle;
}
.wrap .content .all-stores .store-options-module .total .store-options .search>input {
    float: left;
    padding: 8px;
    width: 165px;
    height: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #C9CED9;
}
.wrap .content .all-stores .store-options-module .total .store-options .search>img {
    float: left;
    padding: 7px;
    width: 18px;
    border-top: 1px solid #C9CED9;
    border-right: 1px solid #C9CED9;
    border-bottom: 1px solid #C9CED9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.wrap .content .all-stores .store-options-module .total .store-options .date{
    margin: 0 32px 0 22px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #CBD0DA;
    border-radius: 5px;
    font-size: 12px;
    color: #9ba3b1;
}
.wrap .content .all-stores .store-options-module .total .store-options .date>li {
    float: left;
    padding: 10px 14px;
    border-right: 1px solid #CBD0DA;
    cursor: pointer;
}
.wrap .content .all-stores .store-options-module .total .store-options .date>li:nth-of-type(5) {
    border-right: 0;
}
.wrap .content .all-stores .store-options-module .total .store-options .add-button, .download {
    border: 1px solid #CBD0DA;
    padding: 5px;
    border-radius: 5px;
}
.wrap .content .all-stores .store-options-module .total .store-options .download{
    cursor: pointer;
}

/* 表格 */
.wrap .content .all-stores .table-wrap {
    width: 100%;
    overflow: auto;
}
.wrap .content .all-stores .area-list {
    margin-top: 20px;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #C9CED9;
    border-spacing: 0;
}
.wrap .content .all-stores .area-list tr{
    text-align: left;
}
.wrap .content .all-stores .area-list thead th {
    padding: 5px 0;
    font-size: 14px;
    color: #2a2a2a;
    background: #f6f8fb;
    border-bottom: 1px solid #D7DBE3;
    cursor: pointer;
}
.wrap .content .all-stores .area-list thead .th-first {
    padding: 14px 26px 14px 22px;
    min-width: 30px;
}
.wrap .content .all-stores .area-list thead .th_second {
    padding-right: 48px;
    min-width: 210px;
}
.wrap .content .all-stores .area-list thead .th_third {
    padding-right: 44px;
    min-width: 100px;
}
.wrap .content .all-stores .add-image{
    position: absolute;
    top: 83px;
    right: 30px;
    cursor: pointer;
    border: 1px solid #CBD0DA;
    padding: 5px;
    border-radius: 5px;
}
.wrap .content .all-stores .add-items {
    position: absolute;
    top: 115px;
    right: 27px;
    background: white;
    width: 350px;
    border: 1px solid #C9CED9;
}
.wrap .content .all-stores .add-items .add-items-title {
    position: relative;
    font-size: 14px;
    color: #2a2a2a;
    border-bottom: 1px solid #C9CED9;
    height: 50px;
}
.wrap .content .all-stores .add-items .add-items-title>span {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translate(0,-50%);
}
.wrap .content .all-stores .add-items .add-items-title>img {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0,-50%);
    border: 1px solid #CBD0DA;
    padding: 5px;
    border-radius: 5px;
}
.wrap .content .all-stores .add-items .checkbox-wrap {
    padding: 20px 14px 0 36px;
    height: 242px;
    box-sizing: border-box;
    border-bottom: 1px solid #C9CED9;
    overflow: scroll;
    color: #747d8d;
}
.wrap .content .all-stores .add-items .checkbox-wrap .checkbox-list {
    float: left;
}
.wrap .content .all-stores .add-items .checkbox-wrap .checkbox-list>li {
    margin-bottom: 20px;
}
.wrap .content .all-stores .add-items .checkbox-wrap .checkbox-list>li>label {
    cursor: pointer;
}
.wrap .content .all-stores .add-items .checkbox-wrap .checkbox-list>li input {
    margin-right: 10px;
}
.wrap .content .all-stores .add-items .choice-button {
    background: #F5F7FA;
}
.wrap .content .all-stores .add-items .choice-button .float-right {
    float: right;
    padding: 17px 0;
}
.wrap .content .all-stores .add-items .choice-button .float-right>input {
    padding: 7px 24px;
    margin-right: 14px;
    border: 0;
    font-size: 14px;
    border-radius: 3px;
    background: #E3E8EF;
    cursor: pointer;
}
.wrap .content .all-stores .add-items .choice-button .float-right .btn-color{
    background: #FF491F;
    color: white;
}
.wrap .content .all-stores .area-list tbody td {
    padding: 10px 0;
    font-size: 12px;
    color: #576071;
    border-bottom: 1px solid #C9CED9;
}
.wrap .content .all-stores .area-list tbody td:nth-of-type(1) {
    padding-left: 22px;
}
.wrap .content .all-stores .area-list tbody tr:last-of-type>td {
    border-bottom: 0 none;
}
.wrap .content .all-stores .area-list tbody td a{
    color:#576071;
}
/* 分页 */
.wrap .content .all-stores .pagination-wrap {
    overflow: hidden;
}
.wrap .content .all-stores .pagination {
    padding: 27px 0;
    float: right;
    font-size: 12px;
    color: #576071;
}
.wrap .content .all-stores .pagination>div, p, select {
    display: inline-block;
}
.wrap .content .all-stores .pagination .page-num {
    padding: 9px 16px;
}
.wrap .content .all-stores .pagination .select-page{
    margin: 0 16px 0 8px;
    vertical-align: bottom;
    width: 92px;
    height: 32px;
    outline: none;
    color: #576071;
    background: white;
    border: 1px solid #d0d5de;
    cursor: pointer;
}
.wrap .content .all-stores .pagination .page-turing {
    padding: 4px 5px;
    border: 1px solid #d0d5de;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: bottom;
}
.wrap .content .all-stores .pagination .prev {
    margin: 0 16px;
}

@media screen and (min-width: 1280px) {
    .nav,
    .wrap .content .menu-wrap {
        width: 100%;
    }
    .wrap .content .all-stores .store-options-module,
    .wrap .content .graphically .area-list{
        width: 94%;
    }
}