.table-module-auto>.area-list-auto {
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    text-align: left;
    border-spacing: 0;
}
.table-module-auto>.area-list-auto thead th {
    padding: 12px 22px;
    font-size: 14px;
    color: #2a2a2a;
    background: #f6f8fb;
    border-bottom: 1px solid #d0d5de;
    font-weight: normal;
    cursor: pointer;
}
.table-module-auto>.area-list-auto tbody td {
    padding: 16px 0 16px 22px;
    font-size: 12px;
    color: #576071;
    border-bottom: 1px solid #d0d5de;
}