/* 选择日期，被选中状态 */
.date-choiced{
    background: #d0d5de;
    color: #576071;
}
/* 门店类型被选择 */
.store-color{
    background: #FF491F;
    color: white;
}
/* 折线图选择 */
.graph-color{
    background: white;
    color: #FF4E1C;
    border-top-color: #FF4E1C !important;
}
/* 排序 */
.ascending {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid gray;
    margin-left: 2px;
}
.descending{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid gray;
    margin-left: 2px;
}


/* 内容 */
.wrap .content .menu {
    position: relative;
    overflow: hidden;
    height: 78px;
    border-bottom: 1px solid #C9CED9;
    background: white;
}
.wrap .content .menu>span{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translate(0,-50%);
    font-size: 24px;
    color: #2a2a2a;
}
.wrap .content .menu .menu-options {
    position: absolute;
    top: 50%;
    right: 54px;
    transform: translate(0,-50%);
    font-size: 12px;
}
.wrap .content .menu .menu-options .date,
.store-type{
    vertical-align: middle;
    display: inline-block;
}
.wrap .content .menu .menu-options .date>li{
    float: left;
    cursor: pointer;
}
.wrap .content .menu .menu-options .date {
    border: 1px solid #CBD0DA;
    border-radius: 5px;
    color: #9ba3b1;
}
.wrap .content .menu .menu-options .date>li {
    padding: 9px 14px;
    border-right: 1px solid #CBD0DA;
}

.wrap .content .menu .menu-options .date>li:nth-of-type(5) {
    border-right: 0;
}
.wrap .content .menu .menu-options .store-type {
    margin-left: 32px;
    color: #9ba3b1;
}
.wrap .content .menu .menu-options .store-type>span {
    margin-right: 8px;
    padding: 4px 14px;
    border-radius: 9px;
    cursor: pointer;
}
.wrap .content .graphically {
    background: #E3E8EF;
    overflow: hidden;
}
.wrap .content .graphically .basic-indexes-module {
    margin: 20px 42px;
    width: 980px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #C9CED9;
}
.wrap .content .graphically .basic-indexes-module .total {
    padding: 22px;
    border-bottom: 1px solid #C9CED9;
}
.wrap .content .graphically .basic-indexes-module .total>p {
    padding-bottom: 18px;
    font-size: 18px;
    border-bottom: 1px solid #CDD2DB;
}
.wrap .content .graphically .basic-indexes-module .total .total-items {
    overflow: hidden;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li {
    float: left;
    margin-top: 22px;
    padding: 5px 0 0 30px;
    text-align: left;
    width: 22.29%;
    border-right: 1px solid #CCD1DB;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li:nth-of-type(1) {
    padding: 5px 0 5px 8px;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li:nth-of-type(4) {
    border: 0;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li>img {
    width: 38px;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li .indexes-item {
    margin-left: 22px;
    display: inline-block;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li .indexes-item>p:nth-of-type(1) {
    margin-bottom: 8px;
    font-size: 16px;
    color: #747d8d;
}
.wrap .content .graphically .basic-indexes-module .total .total-items>li .indexes-item>p:nth-of-type(2) {
    font-family: PingFangSC Blod;
    font-size: 22px;
    color: #212121;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .options-tab {
    padding: 6px 0 0 22px;
    background: #f6f8fb;
    overflow: hidden;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .options-tab>li {
    float: left;
    padding: 12px 35px;
    cursor: pointer;
    border-top: 4px solid #F5F7FA;
    font-size: 14px;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .options-tab>li>span:nth-of-type(1){
    color: #747d8d;
}
.wrap .content .graphically .basic-indexes-module .data-visualization {
    overflow: hidden;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .line-chart {
    float: right;
    margin: 24px 58px 0 0;
    width: 810px;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .line-chart .curve{
    width: 100%;
    height: 274px;
}
.wrap .content .graphically .basic-indexes-module .data-visualization .line-chart .curve-total>p {
    float: right;
    color: #576071;
    font-size: 12px;
    background: #f6f8fb;
    padding: 7px 5px;
    margin: 24px 0;
}
.wrap .content .graphically .area-list {
    margin: 20px 42px 80px;
    width: 980px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #C9CED9;
    text-align: left;
    border-spacing: 0;
}
.wrap .content .graphically .area-list thead th {
    padding: 13px 22px;
    font-size: 14px;
    color: #2a2a2a;
    background: #f6f8fb;
    border-bottom: 1px solid #D7DBE3;
    cursor: pointer;
}
.wrap .content .graphically .area-list tbody td {
    padding: 10px 0 10px 22px;
    font-size: 12px;
    color: #576071;
    border-bottom: 1px solid #D7DBE3;
}


@media screen and (min-width: 1280px) {
    .nav {
        width: 100%;
    }
    .wrap .content .graphically .basic-indexes-module,
    .wrap .content .graphically .area-list{
        width: 94%;
    }
    .wrap .content .graphically .basic-indexes-module .data-visualization .line-chart{
        width: 83%;
    }
}